@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="@IncrementCount">Click me</button>
<br />
<input type="number" @bind="@increment" />


<br />
<h1>Format Date </h1>

<input type="text" @bind="@dateNow"
       format-value="dd-MM-yyyy" />



<br />
<h1>Auto Increment</h1>

<button class="btn btn-primary" @onclick="@AutoIncrement">
    Auto Increment
</button>


    @code {
        private int currentCount = 0;
        private int increment = 1;
        private DateTime dateNow = DateTime.Now;

        private void IncrementCount()
        {
            currentCount += increment;
        }
        private void AutoIncrement()
        {
            var timer = new System.Threading.Timer((_) =>
            {
                IncrementCount();
              //  StateHasChanged();
            }, null, TimeSpan.FromSeconds(1),TimeSpan.FromSeconds(1));
        }
    }
